/.venv
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.DS_Store
dist/
build/
eggs/
*.egg-info/
.eggs/
.idea/
.vscode/
.coverage
coverage.xml
htmlcov/
pip-wheel-metadata/
*.egg
